<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      {% if title %}
      <title>{{ title }} - Nickelback Song Finder</title>
      {% else %}
      <title>Nickelback Song Finder</title>
      {% endif %}
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
